--ref=/mnt/HDLV1/YHR/dataset/IBSR_yhr/MNI_standard_brain_template/MNI152_T1_1mm.nii.gz
--refmask=/mnt/HDLV1/YHR/dataset/IBSR_yhr/MNI_standard_brain_template/MNI152_T1_1mm.nii.gz
--imprefm=1
--impinm=1
--imprefval=0
--impinval=0
--subsamp=4,2,1
--miter=5,5,10
--infwhm=10,6,2
--reffwhm=8,4,0
--lambda=300,75,30
--estint=1,1,0
--applyrefmask=0,0,1
--applyinmask=0,0,1
--warpres=10,10,10
--ssqlambda=1
--regmod=bending_energy
--intmod=global_non_linear_with_bias
--intorder=5
--biasres=50,50,50
--biaslambda=10000
--refderiv=0


#fnirt --in=/mnt/HDLV1/YHR/dataset/IBSR_yhr/raw_data/head_volume/IBSR_01_raw_t1.nii.gz --inmask=/mnt/HDLV1/YHR/dataset/IBSR_yhr/raw_data/brain/IBSR_01_brain.nii.gz --aff=/mnt/HDLV1/YHR/dataset/IBSR_yhr/brain_mask/brain_raw_mask_MAT/IBSR_01.mat --iout=$output_dir --ref=/mnt/HDLV1/YHR/dataset/IBSR_yhr/MNI_standard_brain_template/MNI152_T1_1mm.nii.gz --refmask=/mnt/HDLV1/YHR/dataset/IBSR_yhr/MNI_standard_brain_template/MNI152_T1_1mm.nii.gz --imprefm=1 --impinm=1 --imprefval=0 --impinval=0 --subsamp=4,2,1 --miter=5,5,10 --infwhm=10,6,2 --reffwhm=8,4,0 --lambda=300,75,30 --estint=1,1,0 --applyrefmask=0,0,1 --applyinmask=0,0,1 --warpres=10,10,10 --ssqlambda=1 --regmod=bending_energy --intmod=global_non_linear_with_bias --intorder=5 --biasres=50,50,50 --biaslambda=10000 --refderiv=0

